body
{
  text-align: left;
  font-family: "Helvetica";
  color: blue;
  font-size: 16px;
  background-color: beige;

}

#cabecera
{
  background: #33A;
  color: white;
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
}

#cabecera #tagline
{
  margin: 0 0 0 0;
  font-weight: normal;
  font-size: 0.5em;
}

#container
{
  width: 70%
  padding: 1em;
  text-align: left;
  border: 1px solid #DDD;
  margin: 0 auto;
}
#container h1
{
  font-size: 20px;
}
